@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
  font-family: "Work Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Header Section Design */

.header{

    width: 1280px;
    height: 612.67px;
    background: linear-gradient(to top, rgba(9.2, 8.93, 8.93, 1),rgba(16, 16, 16, 0) 100%), url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 22px;

}

.header h3{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 600;
}
.header h1{
    color: rgba(255, 255, 255, 1);
    font-size: 43px;
    font-weight: 700;
    text-align: center;
}

.header p{
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    opacity: 0.7;
}

.header button{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1); 
    padding: 14px 18px;    
    border-style: none;  
    cursor: pointer; 
}