@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
  font-family: "Work Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Header Section Design */

.header{

    width: 1280px;
    height: 612.67px;
    background: linear-gradient(to top, rgba(9.2, 8.93, 8.93, 1),rgba(16, 16, 16, 0) 100%), url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 22px;

}

.header h3{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 600;
}
.header h1{
    color: rgba(255, 255, 255, 1);
    font-size: 43px;
    font-weight: 700;
    text-align: center;
}

.header p{
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    opacity: 0.7;
}

.btn{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1); 
    padding: 12px 18px;    
    border-style: none;  
    cursor: pointer; 
}

.main-section{

  width: 1280px;
  margin: 0 auto;
 
}


.card-section{

    background: rgb(248, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    padding-bottom: 0px;
}

.card-section h3{
    color: rgba(16, 16, 16, 1);
    font-size: 19px;
    font-weight: 500;
    opacity: 0.6;
    text-align: center;
 

}
.card-section h1{
    color: rgba(16, 16, 16, 1);
    font-size: 34px;
    font-weight: 700;
    text-align: center; 
    margin: 30px 0px;  

}

.card-section button{
    margin-top:70px;
    font-size: 18px;
    padding: 15px 30px;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 30px;
}

.card{
    width: 283px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
 

}

.card img{
    width: 100%;
}

.card h2{
    color:black;
    font-size: 18px;
    font-weight: 600;
    background: rgba(82, 195, 3, 0.15);;
    padding:8px 20px;
    border-radius: 8px;
  

}

.card h1{
    color: rgba(16, 16, 16, 1);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 5px 0px;
}
.card p{
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    font-weight: 500;
    opacity:0.7;
    text-align: center;
}

/* about us section design */

.about-us{
    display: flex;
    margin: 50px 0px;
    justify-content: space-between;
  
}

.food{
    width: 50%;
}

.food img{
    width: 100%;
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: rgb(254, 252, 249);
    
}

.content h1{
    color: rgba(16, 16, 16, 1);
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.content p{
color: rgba(16, 16, 16, 1);
font-size: 14px;
font-weight: 500;
opacity: 0.6;
}

.content h2{
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 0.7;
}

.icon{
    display: flex;
    flex-direction:row;
    column-gap: 20px;
   
}
.icon img{
    width: 30px;

}

